.el-input__inner,
.el-textarea__inner {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  resize: none;
}

.el-button {
  padding: 8px 12px;
}

.el-button--small {
  padding: 7px 9px;
}

.el-select,
.el-date-editor.el-input {
  width: 100%;
  box-sizing: border-box;
}
.middle .el-date-editor.el-input {
  width: 100% !important;
}
.el-form-item {
  clear: both;
}

.el-button .glyphicon {
  margin-right: 5px;
}

.el-button-group .el-button {
  vertical-align: middle;
}

.el-button-group .el-button.is-disabled,
.el-button-group .el-button.el-button--primary.is-disabled,
.el-button-group .el-button.el-button--info.is-disabled,
.el-button-group .el-button.el-button--success.is-disabled,
.el-button-group .el-button.el-button--warning.is-disabled,
.el-button-group .el-button.el-button--danger.is-disabled {
  border-color: #d1dbe5;
}

.el-dialog__header {
  padding: 15px 15px 11px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  line-height: 20px;
}

.el-dialog__header .el-dialog__title {
  font-weight: 500;
  line-height: 20px;
}

.el-dialog__header .el-dialog__headerbtn {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
}

.el-dialog__body {
  padding: 12px 12px 0px;
}

.el-dialog__body .el-loading-mask {
  background-color: rgba(255, 255, 255, .5);
}

.el-dialog__footer {
  padding: 8px;
  text-align: right;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
}

.el-dialog__footer .dialog-footer {
  display: inline-block;
  vertical-align: middle;
}

.el-dialog__footer .dialog-footer .el-button {
  padding: 6px 12px;
  float: left;
}

.el-dialog__footer .dialog-footer .el-button+.el-button {
  margin-left: 7px;
}

.el-form>.el-tabs {
  margin-top: -12px;
}

.el-tabs__header {
  margin-bottom: 12px;
}
.el-tabs__content{
  padding: 1px;
}
.el-picker .el-picker__tags {
  width: 100%;
  box-sizing: border-box;
  padding-right: 35px;
  z-index: 1;
}

.el-picker .el-input__icon {
  z-index: 2;
}

.el-form-item {
  margin-bottom: 12px;
}


/* .el-form-item .el-form-item__error {
  display: none;
} */

