:root {
  /* 外部主题色 */
  --red-outer-color-basis: #d80c18;
  /* 外部主题背景色 */
  --red-outer-background-color-basis: #ededed;
  /* tab文字颜色 */
  --red-tab-text-color: #e8e8e8;
  /* 主题文字颜色--白色 */
  --red-theme-text-color: #fff;
  /* 按钮active颜色 */
  --red-button-active-color: #b42525;
  /* 按钮hover颜色 */
  --red-button-hover-color: #ff5059;
}
/* tab样式开始 */
.theme-red .el-layout-item .el-tabs--border-card > .el-tabs__content {
  padding: 0;
}
.theme-red .el-tabs__item.is-active {
  color: #d80c18;
  color: var(--red-outer-color-basis);
}
.theme-red .el-tabs__active-bar {
  background-color: #d80c18;
  background-color: var(--red-outer-color-basis);
}
.theme-red .el-tabs__item:hover {
  color: #ff5059;
  color: var(--red-button-hover-color);
}
/* .el-tabs__item:hover {
  color: var(--outer-color-basis);
} */
.theme-red .el-tabs--border-card > .el-tabs__header .el-tabs__item:not(.is-disabled):hover {
  color: #ff5059;
  color: var(--red-button-hover-color);
}
.theme-red .el-tabs__nav-wrap {
  padding: 0 20px;
}
.theme-red .el-tabs__nav-wrap::after {
  background-color: #e8e8e8;
  background-color: var(--red-tab-text-color);
}
.theme-red .el-tabs__content {
  padding: 0 50px;
}
/* tab样式结束 */

/* 表单样式开始 */
/* .el-form-item__content {
  width: 280px;
}
.search-form-inline .el-form-item__content {
  width: 180px;
} */
.theme-red .el-form-item {
  /* margin-right: 20px; */
  margin-bottom: 25px;
}
.theme-red .search-form-inline .el-form-item__label {
  width: auto !important;
  text-align: right;
}
.theme-red .search-form-inline .el-form--label-left .el-form-item__label {
  text-align: right;
}
/* .el-form-item__label {
  text-align: left;
  padding: 0;
}
.el-form--label-left .el-form-item__label {
  text-align: left;
} */
.theme-red .el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: #d80c18;
  border-color: var(--red-outer-color-basis);
}
/* 表单样式结束 */
/* 按钮样式开始 */

.theme-red .el-button {
  padding: 0 30px;
  height: 40px;
}
.theme-red .el-button--text {
  color: #d80c18;
  color: var(--red-outer-color-basis);
  padding: 0 10px !important;
  height: auto !important;
}
.theme-red .el-button--text:hover {
  color: #ff5059;
  color: var(--red-button-hover-color);
}
.theme-red .el-button--primary {
  padding: 0 30px;
  height: 40px;
}
.theme-red .el-button--success {
  padding: 0 30px;
  height: 40px;
}
.theme-red .el-button--info {
  padding: 0 30px;
  height: 40px;
}
.theme-red .el-button--warning {
  padding: 0 30px;
  height: 40px;
}
.theme-red .el-button--danger {
  padding: 0 30px;
  height: 40px;
}
.theme-red .el-button--primary {
  background-color: #d80c18;
  border-color: #d80c18;
  background-color: var(--red-outer-color-basis);
  border-color: var(--red-outer-color-basis);
}
.theme-red .el-button--primary.is-active,
.theme-red .el-button--primary:active {
  background-color: #b42525!important;
  background-color: var(--red-button-active-color) !important;
}
.theme-red .el-button--primary:focus,
.theme-red .el-button--primary:hover {
  background-color: #ff5059!important;
  border-color: #ff5059!important;
  background-color: var(--red-button-hover-color) !important;
  border-color: var(--red-button-hover-color) !important;
}

/* 按钮样式结束 */
/* 表格样式开始 */

/* 表格样式结束 */
/* 下拉框样式开始 */
.el-select-dropdown__item.selected {
  color: #d80c18;
  color: var(--red-outer-color-basis);
}
/* 下拉框样式结束 */
/* 分页样式开始 */
.theme-red .el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #d80c18;
  color: var(--red-outer-color-basis);
}
.theme-red .el-pagination button:hover {
  color: #d80c18;
  color: var(--red-outer-color-basis);
}
.theme-red .el-pager li:hover {
  color: #d80c18;
  color: var(--red-outer-color-basis);
}
.theme-red .el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #d80c18;
  background-color: var(--red-outer-color-basis);
  color: #fff;
  color: var(--red-theme-text-color);
}
.theme-red .el-select .el-input.is-focus .el-input__inner {
  border-color: #d80c18;
  border-color: var(--red-outer-color-basis);
}
.theme-red .el-pagination__sizes .el-input .el-input__inner:hover {
  border-color: #d80c18;
  border-color: var(--red-outer-color-basis);
}
.theme-red .el-select .el-input__inner:focus {
  border-color: #d80c18;
  border-color: var(--red-outer-color-basis);
}
.theme-red .el-select-dropdown__item.selected {
  color: #d80c18;
  color: var(--red-outer-color-basis);
}
/* 分页样式结束 */
/* 复选框样式开始 */
.theme-red .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #d80c18;
  color: var(--red-outer-color-basis);
}
.theme-red .el-checkbox__inner:hover {
  border-color: #d80c18;
  border-color: var(--red-outer-color-basis);
}
.theme-red .el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #d80c18;
  border-color: #d80c18;
  background-color: var(--red-outer-color-basis);
  border-color: var(--red-outer-color-basis);
}
/* 复选框样式结束 */
/* 单选框样式开始 */
.theme-red .el-radio__input.is-checked .el-radio__inner {
  border-color: #d80c18;
  background: #d80c18;
  border-color: var(--red-outer-color-basis);
  background: var(--red-outer-color-basis);
}
.theme-red .el-radio__inner:hover {
  border-color: #ff5059;
  border-color: var(--red-button-hover-color);
}
.theme-red .el-radio__input.is-checked + .el-radio__label {
  color: #d80c18;
  color: var(--red-outer-color-basis);
}
/* 单选框样式结束 */
/* 时间控件样式修改开始 */
.theme-red .el-date-table td.current:not(.disabled) span {
  background-color: #d80c18;
  background-color: var(--red-outer-color-basis);
}
.theme-red .el-date-table td.available:hover {
  color: #d80c18;
  color: var(--red-outer-color-basis);
}
/* 时间控件样式修改结束 */
.theme-red .loginmain {
  width: 880px;
  height: 438px;
  margin: 0 auto;
  top: 50%;
  position: relative;
  margin-top: -226.5px;
  background-repeat: round;
  z-index: 1;
}

.theme-red .loginmain .left {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
}

.theme-red .loginmain .right {
  float: right;
  width: 50%;
  height: 100%;
}
.theme-red .sys-name {
  text-align: center;
  margin: 0 20px;
  font-size: 30px;
  color: #2cadff;
  text-shadow: 0 0 1px #666;
  letter-spacing: 1px;
  font-weight: 100;
}

.theme-red .login-title {
  margin: 80px 60px 40px;
}

.theme-red .login-title span {
  text-align: left;
  font-size: 18px;
  color: #90949a;
  letter-spacing: 5px;
  text-shadow: 0 0 1px #f7eeee;
  padding: 0px;
}

.theme-red .login-form {
  margin-left: 40px;
  margin-right: 70px;
  margin-top: 135px;
}

.theme-red .login-form .sign-input {
  margin-bottom: 48px;
}

.theme-red .login-form .sign-input div {
  margin: 0px !important;
}

.theme-red .login-form .sign-btn {
  width: 100%;
  background: #d80c18;
  color: white;
}

.theme-red .footer {
  position: absolute;
  width: 100%;
  bottom: -20px;
  text-align: left;
  color: #ffffff;
}

.theme-red .footer i {
  font-size: 20px;
  color: #e2e6eb;
  margin-right: 3px;
}

.theme-red .footer b {
  text-decoration: underline;
}

.theme-red .ifa {
  margin-left: 10px;
  margin-top: 10px;
  width: calc(100% - 20px);
  background-color: #fff;
  background-color: var(--red-theme-text-color);
}
.theme-red .userInfo {
  padding: 0;
  /* border-bottom: #faf8f8 1px solid; */
  text-align: right;
  color: #ffffff;
  top: 0;
  position: relative;
}
.theme-red .userInfoWelcom {
  padding: 9px 28px 0px 20px;
  font-size: 16px;
  text-align: center;
}

.theme-red .userInfo .userinfoSwitch {
  padding: 8px 9px;
  font-size: 22px;
  color: #ffffff;
  position: relative;
  top: -30px;
}
.theme-red .userInfoImg {
  border-radius: 180px;
  position: absolute;
  overflow: hidden;
}
.theme-red .userInfoTool {
  float: left;
  margin-left: 18px;
  margin-top: 16px;
}
.theme-red .el-icon-caret-top:hover {
  color: #d80c18;
}
.theme-red .el-icon-caret-bottom:hover {
  color: #d80c18;
}
.theme-red .menuSwitch {
  float: right;
  padding: right 18px;
  font-size: 24px;
  color: #555555;
}
.theme-red .menuSwitch:hover {
  color: #d80c18;
}
.theme-red .tabs-header {
  padding: left 10px;
}

/* 设置tab页内容的边距 */
.theme-red .el-tabs--border-card > .el-tabs__content {
  padding: 4px 1px 0 1px;
}

.theme-red .el-tabs--border-card > .el-tabs__header {
  background-color: #f3f3f3;
  -moz-background-size: 100% 100%;
  background-size: 100%;
  /*
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE 9 *
    -webkit-transform: rotate(-90deg); /* Safari and Chrome *
    -o-transform: rotate(-90deg); /* Opera *
    -moz-transform: rotate(-90deg); /* Firefox */
}

/* 动态减少宽度 */
.theme-red .el-tabs__nav-scroll {
  overflow: hidden;
  width: calc(100% - 270px);
}
.theme-red .userControl {
  position: absolute;
  right: 190px;
  top: 20px;
  z-index: 999;
  font-size: 16px;
  color: #ffffff;
}
.theme-red .userImg {
  position: absolute;
  right: 46px;
  top: 15px;
  z-index: 999;
  font-size: 16px;
  color: #ffffff;
}
.theme-red .userImg .item {
  margin-right: 12px;
}
.theme-red .userImg img {
  border-radius: 180px;
  vertical-align: middle;
}
.theme-red .userImg span {
  vertical-align: middle;
}
/* 退出按钮 */
.theme-red .iconfont.icon-swticontuichu {
  position: absolute;
  right: 6px;
  top: 28px;
  z-index: 999;
  font-size: x-large;
  color: #ffffff;
  cursor: pointer;
}
.theme-red .iconfont.icon-swticontuichu:hover {
  color: #657e95d6;
}

/* 设置tab选项条*/
.theme-red .el-tabs__nav-wrap {
  overflow: hidden;
  margin-bottom: 0px;
  position: relative;
}
.theme-red .el-tabs--border-card > .el-tabs__header .el-tabs__item {
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  border: 1px solid transparent;
  /* margin: -1px -1px 0; */
  color: #fdfeff;
  font-size: 16px;
}
.theme-red .el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  color: #d80c18;
  background-color: #ffffff;
  border-right-color: #ffffff;
  /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
  border-left-color: #ffffff;
  padding: 0px 30px 40px 30px;
  border-radius: 25px;
  margin: 19px 10px;
}
.theme-red .el-tabs--border-card > .el-tabs__header .el-tabs__item {
  /* border: 1px solid transparent; */
  /* margin: 3px 5px 0px 0; */
  padding: 0px 30px 40px 30px;
  border-radius: 25px;
  margin: 19px 10px;
}
.theme-red .el-tabs--border-card > .el-tabs__header .el-tabs__item:hover {
  color: #d80c18;
}
.theme-red .el-tabs--border-card > .el-tabs__content {
  padding: 5px 3px 0px 3px;
  background-color: #fbf8f87a;
}
/*  设置整个main区域边框为0 */
.theme-red .el-tabs--border-card {
  background: #fff;
  border: 0px;
}
.theme-red .el-tabs--border-card > .el-tabs__content {
  padding: 0;
}
/* .el-submenu {
    margin-left: 32px;
  } */
.theme-red .el-menu {
  border-right: 0px !important;
}
/*  修改菜单栏字体 */
.theme-red .el-submenu__title {
  font-size: 14px;
  font-weight: bold;
}
.theme-red .el-menu-item {
  font-size: 14px;
}
.theme-red .el-menu-item:hover {
  color: #d80c18 !important;
  background-color: #ffffff !important;
}
.theme-red .el-menu-item.is-active {
  color: #d80c18 !important;
}
/*  修改菜单栏下拉按钮大小 */
.theme-red .el-submenu__title i {
  color: #939494;
  font-size: large;
}
.theme-red .el-submenu__title:hover i {
  color: #ffffff;
}
.theme-red .el-submenu__title:hover {
  color: #ffffff !important;
  border-radius: 10px;
  background-color: #d80c18 !important;
}
/* .is-opened .el-submenu__title:nth-child(1) {
    background-color: #D80C18!important;
  } */
/*  修改tab滚动按钮大小  */
.theme-red .el-tabs__nav-next,
.theme-red .el-tabs__nav-prev {
  position: absolute;
  right: 260px;
  cursor: pointer;
  line-height: 88px;
  font-size: 28px;
  color: #f7f7f8;
  font-weight: 800;
}
.theme-red .el-tabs__nav-wrap.is-scrollable {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(100% - 20px);
  background-color: transparent;
}
.theme-red .el-layout-item.left {
  background-size: cover;
}

.theme-red .el-menu-vertical:not(.el-menu--collapse) {
  width: 270px;
  margin: 0 auto;
  min-height: 400px;
  margin-top: 40px;
}
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
.el-table__body tr.current-row > td {
  color: #d80c18 !important;
}
